<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>AI SOC Login</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

</head>

<body class="login-body">

<div class="background-glow"></div>

<div class="login-wrapper">

<!-- LEFT SIDE -->

<div class="login-left">

<h1>AI SOC</h1>

<p>

AI-Powered Security Operations Center
for Real-Time IoT Threat Detection

</p>

<div class="scan-line"></div>

</div>

<!-- RIGHT SIDE -->

<div class="login-right">

<form method="POST"
class="login-form">

<h2>Secure Login</h2>

<div class="input-box">

<input type="text"
name="username"
placeholder="Username"
required>

</div>

<div class="input-box">

<input type="password"
name="password"
placeholder="Password"
required>

</div>

<button type="submit">

LOGIN

</button>

<div class="demo-box">

Demo Credentials<br>

<b>admin / admin123</b>

</div>

</form>

</div>

</div>

</body>
</html>